.dev.show_blocks .width_limiter {
	background-color: rgba(0,0,0,0.1);
}
.width_limiter {
	max-width: 1000px;
	width: 85.333333333333333333333%;
	margin: 0 auto;
	padding: 0;
}
.dev.show_blocks .width_limiter .block_container {
	background-color: rgba(0,0,0,0.1);
}
.width_limiter .block_container {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0 1%;
	overflow: hidden;
}
.dev.show_blocks .width_limiter .block_container > * {
	background-color: rgba(0,128,255,0.5);
}
.width_limiter .block_container > * {
	float: left;
	margin-left: 1.0204081632653%;
	margin-right: 1.0204081632653%;
}
.block_container .block_container {
	padding: 0;
}
.twelfth {
	width: 6.2925170068027%;
}
.sixth {
	width: 14.6258503401361%;
}
.quarter,
.quarter_half
{
	width: 22.9591836734694%;
}
.third {
	width: 31.2925170068027%;
}
.five-twelfths {
	width: 39.6258503401361%;
}
.half {
	width: 47.9591836734694%;
}
.seven-twelfths {
	width: 56.2925170068027%;
}
.two-thirds {
	width: 64.6258503401361%;
}
.three-quarters {
	width: 72.9591836734694%;
}
.five-sixths {
	width: 81.2925170068027%;
}
.eleven-twelfths {
	width: 89.6258503401361%;
}
.full {
	width: 97.9591836734694%;
}
.fill {
	width: 100%;
}
.clear {
	clear: both;
}
footer {
	width: 100%;
}
.dev.show_blocks footer {
	background-color: rgba(0,0,0,0.2);
}
footer .width_limiter {
	max-width: 1366px;
	width: auto;
}
footer .width_limiter .block_container {
	padding: 0 1.7813567593948%; /* h-padding */
}
footer .width_limiter .block_container > * > *,
footer .width_limiter .block_container > * > form > *
{
	width: 100%;
}
footer .width_limiter .block_container .col1 {
	margin-left: 1.8471659919028%; /* h-margin */
	margin-right: 0.7591093117409%; /* 10px */
	width: 30.3643724696356%; /* 400px */
}
footer .width_limiter .block_container .col2 {
	margin-right: 1.8471659919028%; /* h-margin */
	margin-left: 0.7591093117409%; /* 10px */
	width: 30.3643724696356%; /* 400px */
}
footer .width_limiter .block_container .col3 {
	margin-left: 1.8471659919028%; /* h-margin */
	margin-right: 1.8471659919028%; /* h-margin */
	width: 30.3643724696356%; /* 400px */
}
footer .width_limiter .block_container .copyright {
	margin-left: 1.8471659919028%; /* h-margin */
	margin-right: 1.8471659919028%; /* h-margin */
	width: 96.3056680161943%; /* 12 cols */
}

/* ************************* RESPONSIVE ************************* */

@media all and (max-width: 960px) {
	footer .width_limiter .block_container {
		padding: 0 2.5347222222222%; /* h-padding (24px) */
	}
	footer .width_limiter .block_container > * > * {
		width: 100%;
	}
	footer .width_limiter .block_container .col1 {
		margin-left: 2.6700804681785%; /* h-margin (24px) */
		margin-right: 1.0972933430871%; /* 10px */
		width: 28.9685442574982%; /* 264px */
	}
	footer .width_limiter .block_container .col2 {
		margin-right: 2.6700804681785%; /* h-margin (24px) */
		margin-left: 1.0972933430871%; /* 10px */
		width: 28.9685442574982%; /* 264px */
	}
	footer .width_limiter .block_container .col3 {
		margin-left: 2.6700804681785%; /* h-margin (24px) */
		margin-right: 2.6700804681785%; /* h-margin (24px) */
		width: 28.9685442574982%; /* 264px */
	}
	footer .width_limiter .block_container .copyright {
		margin-left: 2.6700804681785%; /* h-margin (24px) */
		margin-right: 2.6700804681785%; /* h-margin (24px) */
		width: 94.6598390636430%; /* 12 cols */
	}
}
@media all and (max-width: 768px) {
	.width_limiter {
		width: 54.6875%;
	}
	.nav_strip .width_limiter,
	.masthead .width_limiter
	{
		width: 85.333333333333333333333%;
	}
	.twelfth,
	.sixth,
	.quarter,
	.third,
	.five-twelfths,
	.half,
	.seven-twelfths,
	.two-thirds,
	.three-quarters,
	.five-sixths,
	.eleven-twelfths,
	.full
	{
		width: 97.9591836734694%;
	}
	.quarter_half {
		width: 47.9591836734694%;
	}
	footer .width_limiter {
		width: 54.6875%;
	}
	footer .width_limiter .block_container {
		padding: 0 1%;
	}
	/*Normalize footer to match rest of layout at this point.*/
	footer .width_limiter .block_container .col1,
	footer .width_limiter .block_container .col2,
	footer .width_limiter .block_container .col3,
	footer .width_limiter .block_container .copyright
	{
		width: 97.9591836734694%;
		margin-left: 1.0204081632653%;
		margin-right: 1.0204081632653%;
	}
	/*This is only so Javascript can detect the layout at this width.*/
	footer .appointment.button {
		position: relative;
	}
}
@media all and (max-width: 660px) {
	.width_limiter {
		width: 85.333333333333333333333%;
	}
	footer .width_limiter {
		width: 85.333333333333333333333%;
	}
}