nav.menu li {
	border-top-color: rgb(255,255,255);
}
nav.menu li.resources.open {
	border-bottom-color: rgb(255,255,255);
}
.rollout_shade {
	background-color: rgb(128,128,128);
}
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea
{
	background-color: rgb(64,64,64);
}
input[type=datetime]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
textarea:hover,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus
{
	background-color: rgb(96,96,96);
}
input[type=datetime].on_light_bg,
input[type=email].on_light_bg,
input[type=number].on_light_bg,
input[type=password].on_light_bg,
input[type=search].on_light_bg,
input[type=tel].on_light_bg,
input[type=text].on_light_bg,
input[type=url].on_light_bg,
textarea.on_light_bg
{
	border: solid 1px rgb(128,128,128);
}
input[type=datetime].on_light_bg:hover,
input[type=email].on_light_bg:hover,
input[type=number].on_light_bg:hover,
input[type=password].on_light_bg:hover,
input[type=search].on_light_bg:hover,
input[type=tel].on_light_bg:hover,
input[type=text].on_light_bg:hover,
input[type=url].on_light_bg:hover,
textarea.on_light_bg:hover,
input[type=datetime].on_light_bg:focus,
input[type=email].on_light_bg:focus,
input[type=number].on_light_bg:focus,
input[type=password].on_light_bg:focus,
input[type=search].on_light_bg:focus,
input[type=tel].on_light_bg:focus,
input[type=text].on_light_bg:focus,
input[type=url].on_light_bg:focus,
textarea.on_light_bg:focus
{
	background-color: white;
	border-color: rgb(0,0,0);
}
a.button.negative {
	background-color: rgb(192,192,192);
}
.carousel .slide_overlay {
	background-color: rgb(255,255,255);
}
section.masthead.narrow .logo {
	background: url('../images/ie8/logo_white.png') no-repeat 0 0;
}
section.masthead .hamburger_toggle {
	background: url('../images/ie8/hamburger_big.png') 0 0;
}
nav.menu li.resources a:after {
	background: url('../images/ie8/dropdown_arrows.png') no-repeat -22px 0;
}
section.nav_strip {
	background: white url('../images/ie8/main_nav_bottom.png') repeat-x bottom left;
}
section.nav_strip.locked {
	background: transparent url('../images/ie8/main_nav_bottom_trans.png') repeat-x bottom left;
}
nav.strip .active {
	background: url('../images/ie8/main_nav_notch.png') no-repeat bottom center;
}
.locked nav.strip .active {
	background: transparent url('../images/ie8/main_nav_notch_trans.png') no-repeat bottom center;
}
nav.strip .resources a:after {
	background: url('../images/ie8/hamburger.png') 0 0;
}
.rollout_close {
	background: url('../images/ie8/close_x_large.png') 0 0;
}
section.resources_rollout .close_button {
	background: url('../images/ie8/close_x.png') no-repeat top left;
}
.carousel.loading {
	background: url('../../images/ie8/spinner.gif') no-repeat center center;
}
input.search {
	background-image: url('../images/ie8/loupe_box_lt.png');
}
input.search.on_light_bg {
	background-image: url('../images/ie8/loupe_box_dk.png');
}
.carousel_arrow {
	background-image: url('../images/ie8/carousel_arrows.png');
}


.selectboxit-btn {
	background-color: rgb(64,64,64);
}
.selectboxit-arrow-container {
	background-color: rgb(128,128,128);
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
	background-color: rgb(96,96,96);
}
.selectboxit-list {
	border: solid 1px rgb(0,0,0);
}
ul.selectboxit-list a.selectboxit-option-anchor {
	border-bottom: solid 1px rgb(0,0,0);
}
.selectboxit-default-arrow {
  background: url('../../../../images/ie8/dropdown_arrows.png') no-repeat 0 0;
}
