.dev.show_blocks body {
  background: url('../images/grid.png') repeat-y top center;
}

section.masthead.narrow {
  display: none;
  background-color: #3b3b3c;
  height: 70px;
}

section.masthead.wide .logo {
  display: block;
  width: 389px;
  height: 64px;
  margin-top: 36px;
  margin-bottom: 24px;
  background: url('../images/logo.png') no-repeat 0 0 / 389px 1920px;
}

section.masthead.narrow .logo {
  display: block;
  width: 204px;
  height: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: url('../images/logo_white.png') no-repeat 0 0 / 204px 20px;
}

section.masthead .hamburger_toggle {
  display: block;
  width: 21px;
  height: 17px;
  background: url('../images/hamburger_big.png') 0 0 / 21px 34px;
  float: right;
  margin-top: 26px;
  margin-bottom: 27px;
}

section.masthead.wide p.contact_slug {
  float: right;
  margin-top: 36px;
  margin-bottom: 0;
}

section.masthead.wide p.contact_slug,
section.masthead.wide p.contact_slug a,
section.masthead.wide p.contact_slug br {
  font-size: 16px;
  line-height: 22px;
}

section.masthead.wide p.contact_slug a {
  text-decoration: none;
  font-style: italic;
}

.block_container.certification {
  display: flex;
}

.block_container.certification > * {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

p.certification-badge {
  margin: 0;
}

p.certification-notice {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

p.certification-notice a {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #00aec5;
  transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
}

a:hover {
  color: #3b3b3c;
}

p {
  margin-bottom: 24px;
}

ul.textual {
  margin-bottom: 24px;
}

*.long_bottom {
  margin-bottom: 48px !important;
}

ul.textual li {
  line-height: 18px;
  margin-bottom: 18px;
}

ul.textual.italic li {
  font-style: italic;
}

ul.textual.indented li {
  margin-left: 10px;
}

section.nav_menu {
  background-color: #3b3b3c;
  display: none;
}

nav.menu li {
  height: 55px;
  border-top: solid 1px rgba(255, 255, 255, 0.38);
}

nav.menu li a {
  display: block;
  font: 16px/55px 'Lato';
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
  width: 81.92%;
  margin: 0 auto;
}

nav.menu li a.active,
nav.menu li a:hover {
  color: #00aec5;
}

nav.menu li.resources a,
nav.menu li.forms a {
  position: relative;
}

nav.menu li.resources a:after,
nav.menu li.forms a:after {
  content: ' ';
  width: 22px;
  height: 22px;
  display: block;
  background: url('../images/dropdown_arrows.png') no-repeat -22px 0 / 44px 44px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
}

nav.menu li.resources a:hover:after,
nav.menu li.forms a:hover:after {
  background-position: -22px -22px;
}

nav.menu li.resources {
  border-bottom: solid 1px rgba(255, 255, 255, 0.38);
}

nav.menu li.resources.open a:after,
nav.menu li.forms.open a:after {
  background-position: 0 0;
}

nav.menu li.resources.open a:hover:after,
nav.menu li.forms.open a:hover:after {
  background-position: 0 -22px;
}

.static_photo_header {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.static_photo_header a {
  left: 50%;
  margin-left: -1280px;
  position: absolute;
}

section.nav_strip {
  background: white url('../images/main_nav_bottom.png') repeat-x bottom left / 10px 30px;
}

section.nav_strip .block_container {
  height: 94px;
  overflow: visible;
}

section.nav_strip.locked {
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: transparent url('../images/main_nav_bottom_trans.png') repeat-x bottom left / 10px 222px;
}

nav.strip ul {
  width: 100%;
}

nav.strip li {
  float: left;
  margin-right: 36px;
  white-space: nowrap;
}

nav.strip .active {
  background: url('../images/main_nav_notch.png') no-repeat bottom center / 38px 30px;
}

.locked nav.strip .active {
  background: transparent url('../images/main_nav_notch_trans.png') no-repeat bottom center / 38px 222px;
}

nav.strip li a {
  display: inline-block;
  font: 14px/80px 'Lato';
  text-transform: uppercase;
  text-decoration: none;
  height: 94px;
  color: #3b3b3c;
}

nav.strip li a:hover {
  color: #00aec5;
}

nav.strip .resources a:after {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url('../images/hamburger.png') 0 0 / 30px 20px;
  line-height: 10px;
  margin-left: 10px;
}

nav.strip .resources a:hover:after {
  background-position: -15px 0;
}

#nav_strip_position_capture {
  width: 0;
  height: 0;
}

#nav_strip_position_capture.locked {
  width: 0;
  height: 94px;
}

.rollout_shade {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.rollout_close {
  display: block;
  width: 27px;
  height: 27px;
  background: url('../images/close_x_large.png') 0 0 / 27px 54px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -13px;
}

.rollout_close:hover {
  background-position: 0 -27px;
}

section.rollout.top {
  background-color: #3b3b3c;
  display: none;
}

section.rollout * {
  color: white;
}

section.rollout h3 {
  font: 16px/55px 'Lato';
  letter-spacing: 0.1em;
}

section.rollout .width_limiter .block_container > *,
section.rollout .width_limiter .block_container form > * {
  width: 97.9591836734694%;
}

section.rollout.side {
  background-color: #3b3b3c;
  display: none;
  position: absolute;
  top: 0;
  width: 350px;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

section.rollout .close_button {
  width: 13px !important;
  height: 13px;
  display: block;
  float: right;
  margin-top: 20px;
  background: url('../images/close_x.png') no-repeat top left / 13px 26px;
}

.rollout_content {
  display: none;
  opacity: 0.4;
  transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease 0s;
}

.rollout_content h2 {
  position: relative;
}

h1 {
  display: none;
}

h2 {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 97.9166666666667%;
  font: 32px/32px 'Lato';
  color: #00aec5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h2.long_top {
  margin-top: 48px;
}

h3,
.h3_spacer,
h3 a {
  font: 16px/21px 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #00aec5;
}

h3.arrow {
  line-height: 32px;
  background-color: #00aec5;
  color: white;
  padding: 4px 18px;
  margin-bottom: 0;
  position: relative;
}

h3.arrow.gap_after {
  margin-bottom: 24px;
}

h3.arrow:after {
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  content: ' ';
  border-width: 13px 13px 0 13px;
  border-style: solid;
  border-color: #00aec5 transparent transparent transparent;
  bottom: -13px;
}

blockquote {
  font: italic 20px/32px 'Lato';
  margin-bottom: 24px;
}

.leader {
  font: 16px/32px 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-right: 10px;
  color: #00aec5;
}

.leader.small {
  font-size: 12px;
  line-height: 12px;
}

footer.main .leader {
  color: white;
}

.employee .images {
  position: relative;
}

a.rollout_trigger.inline,
a.big_link {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

a.rollout_trigger.inline:after,
a.big_link:after {
  content: '→';
  margin-left: 10px;
}

a.rollout_trigger.inline:hover,
a.big_link:hover {
  color: #00aec5;
}

.position_title {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  display: block;
}

.video_area {
  margin-bottom: 48px;
}

.video_area.left_description > * {
  float: left;
}

.video_area.left_description .description {
  width: 40.4166666666667%;
  height: 322px;
  background-color: #00aec5;
  padding: 20px 30px;
  position: relative;
}

.video_area.left_description .description:after {
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  content: ' ';
  border-width: 13px 0 13px 13px;
  border-style: solid;
  border-color: transparent transparent transparent #00aec5;
  right: -13px;
  top: 30px;
  z-index: 100;
}

.video_area.left_description .description h3 {
  color: white;
}

.video_area.left_description .description p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: white;
  margin-bottom: 0;
}

.video_area.left_description .video {
  width: 59.5833333333333%;
  background-color: #e7e2dd;
  padding-bottom: 0;
  height: 322px;
}

.video_area .caption {
  margin-bottom: 0;
}

.video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}

.video iframe {
  border: none !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

.chart {
  margin-bottom: 48px;
  position: relative;
}

.chart canvas {
  width: 100%;
}

.chart .caption {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.chart .caption br {
  line-height: 0;
}

.chart .caption .percent {
  color: #00aec5;
  font: 42px/42px 'Lato';
  display: block;
  margin-bottom: 4px;
}

footer.main {
  padding-top: 48px;
  background-color: #3b3b3c;
}

footer.main * {
  color: white;
}

footer h3,
footer .h3_spacer {
  color: white;
  margin-bottom: 8px;
}

footer p {
  margin-bottom: 16px;
}

img.accreditation {
  display: block;
  margin: auto;
  width: 100px !important;
}

p.copyright {
  text-align: center;
  margin-top: 128px;
}

p.subtext {
  color: #c0c0c0;
  font-size: 10px;
  font-style: italic;
}

p.after_p {
  margin-top: -24px;
}

input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  padding: 0 16px;
}

input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  background-color: rgba(255, 255, 255, 0.25);
  height: 48px;
  margin-bottom: 20px;
  color: white;
  border: none;
  display: block;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}

input[type=datetime].on_light_bg,
input[type=email].on_light_bg,
input[type=number].on_light_bg,
input[type=password].on_light_bg,
input[type=search].on_light_bg,
input[type=tel].on_light_bg,
input[type=text].on_light_bg,
input[type=url].on_light_bg,
textarea.on_light_bg {
  background-color: white;
  color: #3b3b3c;
  border: solid 1px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease 0s;
  -moz-transition: border-color 0.2s ease 0s;
  -webkit-transition: border-color 0.2s ease 0s;
}

input.search {
  background-image: url('../images/loupe_box_lt.png');
  background-position: center right;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  margin-top: 40px;
}

input.search.on_light_bg {
  background-image: url('../images/loupe_box_dk.png');
}

textarea {
  padding: 12px 16px;
}

input[type=datetime]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
textarea:hover,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type=datetime].on_light_bg:hover,
input[type=email].on_light_bg:hover,
input[type=number].on_light_bg:hover,
input[type=password].on_light_bg:hover,
input[type=search].on_light_bg:hover,
input[type=tel].on_light_bg:hover,
input[type=text].on_light_bg:hover,
input[type=url].on_light_bg:hover,
textarea.on_light_bg:hover,
input[type=datetime].on_light_bg:focus,
input[type=email].on_light_bg:focus,
input[type=number].on_light_bg:focus,
input[type=password].on_light_bg:focus,
input[type=search].on_light_bg:focus,
input[type=tel].on_light_bg:focus,
input[type=text].on_light_bg:focus,
input[type=url].on_light_bg:focus,
textarea.on_light_bg:focus {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.25);
}

textarea.message_1,
textarea.message_2 {
  height: 184px;
}

.message_1 {
  display: none;
}

a.button {
  display: block;
  height: 48px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font: 14px/48px 'Lato';
  letter-spacing: 0.1em;
  color: white;
  background-color: #3b3b3c;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}

a.button.negative {
  background-color: rgba(255, 255, 255, 0.7);
}

a.button:hover,
a.button:focus {
  background-color: #00aec5;
}

a.button:active {
  background-color: #005078;
}

a.button.processing {
  background-color: #005078;
}

a.button.processing_complete_burst {
  background-color: white;
}

a.button.processing_complete {
  transition: background-color 1s ease 0s;
  -moz-transition: background-color 1s ease 0s;
  -webkit-transition: background-color 1s ease 0s;
}

div.before_after {
  margin-bottom: 48px;
  position: relative;
}

div.before_after img {
  width: 100%;
}

div.before_after h3 {
  color: white;
  position: absolute;
  left: 12px;
  top: 12px;
}

.form_status_console {
  font: 12px/12px courier;
}

.dev.show_blocks a.button {
  background-color: rgba(255, 0, 255, 0.1);
}

.dev_toolbar {
  display: none;
  width: 100%;
  padding: 10px 0;
  background-color: black;
  position: fixed;
  bottom: 0;
  color: #d0d0d0;
  text-align: center;
  opacity: 0.9;
  z-index: 1000;
}

.prop_open {
  display: block;
  width: 0;
  height: 0;
  float: none;
  clear: both;
}

.dev .dev_toolbar {
  display: block;
}

section {
  position: relative;
}

section.white {
  background-color: white;
}

section.gray {
  background-color: #f9f9f9;
}

section.top_layer {
  border-bottom: solid 1px #e7e7e7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  z-index: 20;
}

section.bottom_layer {
  border-bottom: solid 1px #e7e7e7;
  z-index: 10;
}

.social {
  margin-top: 16px;
}

.social a {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.social .fb {
  background: url('../images/fb.svg') center center/48px 48px no-repeat;
}

.social .ig {
  background: url('../images/ig.svg') center center/48px 48px no-repeat;
}

/* ************************* RESPONSIVE ************************* */
.hide_above_single_column {
  display: none !important;
}

@media all and (max-width: 1210px) {
  h3,
  .h3_spacer {
    font-size: 13px;
  }

  h3.arrow {
    padding: 4px 12px;
  }

  footer h3 {
    font-size: 16px;
  }
}

@media all and (max-width: 1024px) {
  .video_area.left_description .description h3 {
    line-height: 16px;
  }

  .video_area.left_description .description p {
    line-height: 21px;
  }
}

@media all and (max-width: 960px) {
  blockquote {
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 48px;
  }

  h3,
  .h3_spacer {
    font-size: 11px;
    letter-spacing: 0;
  }
}

@media all and (max-width: 890px) {
  .video_area.left_description .description p {
    line-height: 15px;
  }
}

@media all and (max-width: 768px) {
  /*Single column*/
  .hide_below_full_width {
    display: none;
  }

  .hide_above_single_column {
    display: block !important;
  }

  nav.strip li a {
    font-size: 13px;
  }

  .contact_slug {
    display: none;
  }

  section.rollout .width_limiter {
    width: 85.333333333333333333333%;
  }

  h2 {
    font-size: 28px;
    line-height: 28px;
  }

  h3,
  .h3_spacer {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .chart:nth-of-type(1),
  .chart:nth-of-type(2) {
    margin-bottom: 10px;
  }

  .video_area.left_description .description {
    width: 97.9591836734694%;
    height: auto;
  }

  .video_area.left_description .description h3 {
    line-height: 28px;
  }

  .video_area.left_description .description p {
    font-size: 14px;
    line-height: 34px;
  }

  .video_area.left_description .description:after {
    border-width: 13px 13px 0 13px;
    border-color: #00aec5 transparent transparent transparent;
    left: 30px;
    bottom: -13px;
    right: auto;
    top: auto;
  }

  .video_area.left_description .video {
    width: 97.9591836734694%;
    padding-bottom: 55.1020408163265%;
    height: 0;
  }

  .message_1 {
    display: block;
  }

  .message_2 {
    display: none;
  }

  p.copyright {
    margin-top: 24px;
  }
}

@media all and (max-width: 660px) {
  /*Mobile*/
  section.masthead.wide {
    display: none;
  }

  section.masthead.narrow {
    display: block;
  }

  section.nav_strip {
    display: none;
  }

  #nav_strip_position_capture {
    display: none;
  }

  section.rollout.side {
    display: none;
  }

  .rollout_shade {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .chart .caption {
    font-size: 12px;
    line-height: 14px;
  }

  .chart .caption .percent {
    font-size: 36px;
    line-height: 36px;
  }
}
