.carousel_slide_width_slug {
	max-width: 960px;
	width: 81.92%;
	height: 10px;
	background-color: magenta;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.carousel {
	height: 500px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.carousel.loading {
	background: url('../../images/spinner.gif') no-repeat center center / 30px 30px;
}
.carousel > * {
	position: absolute;
	display: block;
	left: 50%;
	height: 500px;
	overflow: hidden;
	background: #3b3b3c;
	transition: opacity 0.75s ease 0s;
	-moz-transition: opacity 0.75s ease 0s;
	-khtml-transition: opacity 0.75s ease 0s;
	-webkit-transition: opacity 0.75s ease 0s;
}
.carousel > *:not(.carousel_arrow) {
	visibility: hidden;
	opacity: 0;
}
.carousel > a {
	cursor: default;
}
.carousel > a.center {
	cursor: pointer;
}
.carousel > a.carousel_arrow
{
	cursor: pointer;
}
.carousel img {
	opacity: 0.2;
	transition: opacity 0.75s ease 0s;
	-moz-transition: opacity 0.75s ease 0s;
	-khtml-transition: opacity 0.75s ease 0s;
	-webkit-transition: opacity 0.75s ease 0s;
}
.carousel .center img {
	opacity: 1;
}
.carousel_arrow {
	position: absolute;
	width: 40px;
	height: 75px;
	background-image: url('carousel_arrows.png');
	background-color: transparent;
	background-size: 80px 75px;
	text-decoration: none;
	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-khtml-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;
}
.carousel_arrow:hover {
	opacity: 0.4;
}
.carousel_arrow.right {
	background-position: -40px 0;
}
.carousel_arrow.left {
	background-position: 0 0;
}
.carousel .slide_overlay {
	display: block;
	position: absolute;
	bottom: 35px;
	left: 0px;
	background-color: rgba(255,255,255,0.85);
	width: 100%;
	padding: 0 36px;
	z-index: 10;
	transform: translate(0,100px);
	-moz-transform: translate(0,100px);
	-ms-transform: translate(0,100px);
	-webkit-transform: translate(0,100px);
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-khtml-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	opacity: 0;
}
.carousel .center:hover .slide_overlay {
	opacity: 1;
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
.carousel .slide_overlay h2 {
	font: 36px/36px 'Lato';
	color: #00aec5;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.carousel .slide_overlay p {
	font: 18px/24px 'Lato';
	color: #3b3b3c;
}
.carousel .looks_like_a_link {
	text-transform: uppercase;
	color: #00aec5;
	white-space: nowrap;
	font: 18px/24px 'Lato';
}

/* ************************* RESPONSIVE ************************* */

@media all and (max-width: 1024px) {
	.carousel .slide_overlay h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.carousel .slide_overlay p {
		font-size: 14px;
		line-height: 18px;
	}
	.carousel .looks_like_a_link {
		font-size: 14px;
		line-height: 18px;
	}
}
@media all and (max-width: 960px) {
	.carousel_slide_width_slug {
		width: 100%;
	}
}
@media all and (max-width: 768px) {
	.carousel .slide_overlay {
		bottom: 0;
	}
	.carousel .slide_overlay h2 {
		font-size: 23px;
		line-height: 23px;
	}
}
@media all and (max-width: 560px) {
	.carousel .slide_overlay {
		display: none;
	}
}